 @model ProductsWebApplication.Models.ProductViewModel

@{
    ViewData["Title"] = "Create Product";
}
<h2>@ViewData["Title"]</h2>
<hr></hr>
<form action="Create" method="post">
    <div class="mb-3">
        <label class="form-label"> Name</label>
        <input type="text" class="form-control" asp-for="Name"></input>
        <span asp-validation="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description"></input>
        <span asp-validation="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" class="form-control" asp-for="Price"></input>
        <span asp-validation="Price" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn-primary">Submit</button>
    </div>
</form> 